<div class="box">
  <form [formGroup]="reactiveForm" (submit)="onSubmit()">
    <span class="text-center">Registration</span>
    <div class="input-container">
      <input type="text" id="firstName" formControlName="first" />
      <label>First name</label>
      <div class="error" *ngIf="isControlInvalid('first')">
        <p>Invalid First name</p>
      </div>
    </div>
    <div class="input-container">
      <input type="text" id="lastName" formControlName="last" />
      <label>Last name</label>
      <div class="error" *ngIf="isControlInvalid('last')">
        <p>Invalid Last name</p>
      </div>
    </div>
    <div class="input-container">
      <input type="text" id="name" formControlName="name" />
      <label>User name</label>
      <div class="error" *ngIf="isControlInvalid('name')">
        <p>Invalid User name</p>
      </div>
    </div>
    <div class="input-container">
      <input type="password" id="password" formControlName="password" maxlength="32" required />
      <label>Password</label>
      <div class="error" *ngIf="isControlInvalid('password')">
        <p>Invalid password</p>
      </div>
    </div>
    <div class="button-container">
      <button type="submit" class="btn">Submit</button>
    </div>
    <p class="error">{{error}}</p>
  </form>
</div>
